<div class="card card-body" style="margin-top:10px">
    <h5 class="card-title">Add Idea</h5>
    <form action="/ideas" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter video's name">

        </div>
        <div class="form-group">
            <label for="detail">Detail</label>
            <textarea class="form-control" id="detai" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>